{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <h2>Create Auction</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus required type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="category" placeholder="Category">
        </div>
        <div class="form-group">
            <input class="form-control" required type="number" name="price" placeholder="Staring Price">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="image_url" placeholder="Image URL">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>
{% endblock %}
